@media screen and (prefers-color-scheme: light) {
    :root {
        --bg-color: hsl(241.96, 99.87%, 97.56%);
        --main-font-color: hsl(221.61, 99.97%, 14.38%);

        --link-color: hsl(216.87, 99.99%, 49.48%);
        --link-secondary-color: hsl(240.84, 99.96%, 93.36%);


        --main-font: "iA Writer Quattro V";
        --mono-font: "iA Writer Mono V";
    }
}